@import "elements.less";

/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a { text-decoration: none; }
a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


/* homepage thumbnails */
/*#nasdaq a { background-image: url(../the_work/nasdaq/01.jpg); }
#ge_show a { background-image: url(../the_work/ge_show/01.jpg); }
#rockhall a { background-image: url(../the_work/rockhall/01.jpg); }
#wgbh a { background-image: url(../the_work/wgbh_amex/01.jpg); }
#sevententen a { background-image: url(../the_work/sevententen/01.jpg); }
#kashi a { background-image: url(../the_work/kashi/01.jpg); }
#tbg a { background-image: url(../the_work/tbg/01.jpg); }
#pbat a { background-image: url(../the_work/pbat/01.jpg); }
#gametap a { background-image: url(../the_work/gametap/01.jpg); }
#helping_hands a { background-image: url(../the_work/helping_hands/01.jpg); }
#chicken a { background-image: url(../the_work/chicken/01.jpg); }
*/


/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {

	padding: 72px 0 84px;
	background: rgb(232,232,232) url(../images/tile4.png) 0 0 repeat;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	font-family: "Buenard", "Times New Roman", Times, serif;
}
#container {
	padding-left: 48px;
	padding-right: 48px;
	margin: 60px auto 20px auto;
	width: 896px;
	position: relative;	
}

header {
	width: 28.125%; /*252px / 896*/
	float: left;
	margin-top: -10px;

	h1 {
		font-family: 'Marmelad', Helvetica, Arial, sans-serif;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 25px;
		color: #444;
	}
	h3 {
		margin-bottom: 25px;
		color: #666;
		
	}
	h4, h4 a {
		color: #aaa;
		.transition-duration(0.4s);
	}
	h4 a:hover {
		.transition-duration(0.4s);
		color: #444;
	}
	h5 {
		//it's a silly thing
		display: none;
	}
}
#work {
	width: 69.19643%; /*620 / 896*/
	float: right;
}
img {
  max-width: 100%;
}
#work {
	#portfolio_title {
		font-size: 1.4em;
		margin-left: 92px;
		color: #666;
	}
}

.project {
/*	width: 436px;*/
/*	height: 291px;*/
	width: 40.64516%;
	margin-right: 3.8709677419355%;
	margin-bottom: 30px;
	
	display: block;
	float: left;
	
/*	background: #ccc;*/
	.bw-gradient(#ccc, 200, 100);
	padding: 4px 4px 2px 4px;

	.drop-shadow(0, 2px, 2px, 0.2);
	.border-radius(0, 4px, 4px, 0);
	
	.transition-duration(0.4s);
	
	&:hover {
		
		.transition-duration(0.4s);
		.bw-gradient(#ccc, 190, 100);
		
/*		.bw-gradient(#ccc, 100, 200);*/
/*		background: #ccc;*/
/*		.drop-shadow(0, 0, 0, 0);*/
/*		.drop-shadow(0, 3px, 5px, 0.2);*/
/*		.transition-duration(0.4s);*/
		
	}
	
	a {
		color: #000;
		.transition-duration(0.4s);
		&:hover {
			.transition-duration(0.4s);
			color: #333;
		}
	}
	
	img {
		z-index: 4;
	}
	.info {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		line-height: 1em;
		display: block;
/*		background: #fff;*/
		z-index: 6;
		height: 30px;
/*		overflow: hidden;*/
		.project_title {
			width: 158px;
			float: left;
			margin-left: 10px;
			padding-right: 10px;
			vertical-align: middle;
			display: block;
		}
		.project_date {
			float: right;
			width: 64px;
/*			margin-right: -20px;*/
/*			background: #fff;*/
/*			.rotation(-20deg);*/
/*			padding: 4px 20px;*/
			text-align: right;
			margin-right: 10px;
			color: #555;
		}
	}

}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		
		padding: 48px 28px 60px;
	}
	#container {
		width: 712px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		
		padding: 48px 34px 60px;
	}
	#container {
		width: 252px;
		header, #work {
			float: none;
			width: 252px;
		}

	}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}